<!DOCTYPE html>
<html>
  <head>
    <title>bakery project<%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>sdvgjkxdgy</h1>
    <h2>beriugfweuihfuiqwergt</h2>
    <h3>gfwrfwug4ry7qw3trtqwcr</h3>
    <p>Welcome to <%= title %></p>
    <h3> this is running </h3>
  </body>
</html>
