<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>bakery-project</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1> Project X</h1>
    <h2>music</h2>
    <h3>drink</h3>
    <h3>food</h3>
    <p> my name is and I am creator for.............................
    </p>
  </body>
</html>
